@{
    Layout = null;
}
<html>
<head>
    <title>Talent Show Control Center</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
</head>
<body>
    <div id="app"></div>
    <div id="login"></div>
    <div id="content"></div>
    <script>
        var globalWebApiBaseUrl = "@System.Configuration.ConfigurationManager.AppSettings["WebApiBaseUrl"]";

        function globalGetAccessTokenHttpHeader() {
            var token = sessionStorage.getItem("token");
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }
            return headers;
        }
    </script>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/1.0.0-rc1/ReactRouter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
   
    <script src="@Url.Content("~/Components/Login.jsx")"></script>
    <script src="@Url.Content("~/Components/Judges.jsx")"></script>
    <script src="@Url.Content("~/Components/App.jsx")"></script>
</body>
</html>